name: release
on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions: {}

jobs:
  release:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/tagpr-release.yml
    secrets:
      app-token: ${{ secrets.APP_TOKEN }}
